USE [ldShopV3]
GO
/****** Object:  Table [dbo].[CouponCodes]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[couponCode] [nvarchar](255) NULL,
	[percent] [smallint] NOT NULL,
	[active] [bit] NULL,
	[dateBegin] [nvarchar](10) NOT NULL,
	[dateEnd] [nvarchar](10) NOT NULL,
 CONSTRAINT [CouponCodes$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Number] [nvarchar](50) NOT NULL,
	[TP] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[CATEGORIA] [nvarchar](12) NULL,
	[X] [nvarchar](50) NULL,
	[Y] [nvarchar](50) NULL,
	[Z] [int] NULL,
	[DUR] [nvarchar](50) NULL,
	[LVL] [nvarchar](2) NULL,
	[OP] [bit] NULL,
	[LK] [bit] NULL,
	[SK] [bit] NULL,
	[ANC] [bit] NULL,
	[EXE] [int] NULL,
	[RF] [int] NULL,
	[JH] [int] NULL,
	[Socket] [bit] NULL,
	[SET] [nvarchar](50) NULL,
	[SetItem1] [nvarchar](50) NULL,
	[SetItem2] [nvarchar](50) NULL,
	[price] [smallint] NOT NULL,
	[priceLevel] [smallint] NULL,
	[priceOption] [smallint] NULL,
	[priceSkill] [smallint] NULL,
	[priceLuck] [smallint] NULL,
	[priceAncient] [smallint] NULL,
	[priceJh] [smallint] NULL,
	[priceRefine] [smallint] NULL,
	[priceSocket] [smallint] NULL,
	[priceOptExc] [smallint] NULL,
	[maxOptExcSel] [smallint] NULL,
	[ofert] [bit] NULL,
	[solds] [int] NULL,
	[insertShop] [bit] NULL,
	[C_0] [bit] NULL,
	[C_1] [bit] NULL,
	[C_2] [bit] NULL,
	[C_16] [bit] NULL,
	[C_17] [bit] NULL,
	[C_18] [bit] NULL,
	[C_32] [bit] NULL,
	[C_33] [bit] NULL,
	[C_34] [bit] NULL,
	[C_48] [bit] NULL,
	[C_49] [bit] NULL,
	[C_64] [bit] NULL,
	[C_65] [bit] NULL,
	[C_80] [bit] NULL,
	[C_81] [bit] NULL,
	[C_82] [bit] NULL,
	[C_96] [bit] NULL,
	[C_98] [bit] NULL,
	[photoItem] [nvarchar](255) NULL,
	[photoItemAnc] [nvarchar](255) NULL,
 CONSTRAINT [Items$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemsCategorias]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsCategorias](
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [ItemsCategorias$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemsJewelOfHarmony]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsJewelOfHarmony](
	[Number] [int] NULL,
	[TP] [nvarchar](50) NULL,
	[ID] [nvarchar](50) NULL,
	[Tipo] [nvarchar](50) NULL,
	[NM] [nvarchar](50) NULL,
	[prefx0] [int] NULL,
	[prefx1] [int] NULL,
	[prefx2] [int] NULL,
	[prefx3] [int] NULL,
	[prefx4] [int] NULL,
	[prefx5] [int] NULL,
	[prefx6] [int] NULL,
	[prefx7] [int] NULL,
	[prefx8] [int] NULL,
	[prefx9] [int] NULL,
	[prefxA] [int] NULL,
	[prefxB] [int] NULL,
	[prefxC] [int] NULL,
	[prefxD] [int] NULL,
	[prefxE] [int] NULL,
	[prefxF] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemsRefinery]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsRefinery](
	[ID] [int] NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[prefx1] [nvarchar](50) NULL,
	[prefx2] [nvarchar](50) NULL,
 CONSTRAINT [ItemsRefinery$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemsSetItems]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsSetItems](
	[Nombre] [nvarchar](50) NOT NULL,
	[ID] [int] NULL,
 CONSTRAINT [ItemsSetItems$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemsSocket]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsSocket](
	[Number] [int] NULL,
	[ID] [int] NULL,
	[TP] [int] NULL,
	[ST] [nvarchar](50) NULL,
	[NM] [nvarchar](100) NULL,
	[IT] [int] NULL,
	[S1] [int] NULL,
	[S2] [int] NULL,
	[S3] [int] NULL,
	[S4] [int] NULL,
	[S5] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kits]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kits](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[kitName] [nvarchar](50) NULL,
	[priceFix] [smallint] NOT NULL,
	[solds] [int] NOT NULL,
	[active] [bit] NULL,
 CONSTRAINT [Kits$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KitsItemsDetails]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitsItemsDetails](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[kitNumber] [smallint] NULL,
	[itemNumber] [nvarchar](10) NULL,
	[fixLVL] [smallint] NOT NULL,
	[fixOP] [int] NOT NULL,
	[fixLuck] [bit] NULL,
	[fixSkill] [bit] NULL,
	[fixANC] [int] NULL,
	[fixOpEx1] [bit] NULL,
	[fixOpEx2] [bit] NULL,
	[fixOpEx3] [bit] NULL,
	[fixOpEx4] [bit] NULL,
	[fixOpEx5] [bit] NULL,
	[fixOpEx6] [bit] NULL,
	[fixJH] [nvarchar](2) NOT NULL,
	[fixRefine] [bit] NULL,
	[fixSocket1] [smallint] NOT NULL,
	[fixSocket2] [smallint] NOT NULL,
	[fixSocket3] [smallint] NOT NULL,
	[fixSocket4] [smallint] NOT NULL,
	[fixSocket5] [smallint] NOT NULL,
 CONSTRAINT [KitsItemsDetails$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogSolds]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSolds](
	[number] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](12) NULL,
	[itemNumber] [nvarchar](25) NULL,
	[serial] [nvarchar](8) NULL,
	[level] [smallint] NULL,
	[option] [smallint] NULL,
	[luck] [nvarchar](5) NULL,
	[skill] [nvarchar](5) NULL,
	[ancient] [nvarchar](5) NULL,
	[excop1] [nvarchar](5) NULL,
	[excop2] [nvarchar](5) NULL,
	[excop3] [nvarchar](5) NULL,
	[excop4] [nvarchar](5) NULL,
	[excop5] [nvarchar](5) NULL,
	[excop6] [nvarchar](5) NULL,
	[jh] [nvarchar](5) NULL,
	[refine] [nvarchar](5) NULL,
	[socket1] [nvarchar](5) NULL,
	[socket2] [nvarchar](5) NULL,
	[socket3] [nvarchar](5) NULL,
	[socket4] [nvarchar](5) NULL,
	[socket5] [nvarchar](5) NULL,
	[socket1_int] [nvarchar](3) NULL,
	[socket2_int] [nvarchar](3) NULL,
	[socket3_int] [nvarchar](3) NULL,
	[socket4_int] [nvarchar](3) NULL,
	[socket5_int] [nvarchar](3) NULL,
	[price] [smallint] NULL,
	[data] [nvarchar](20) NULL,
	[recovery] [smallint] NULL,
	[type] [nvarchar](6) NULL,
 CONSTRAINT [LogSolds$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogSoldsKits]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSoldsKits](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](12) NULL,
	[kitNumber] [int] NULL,
	[price] [int] NULL,
	[data] [nvarchar](20) NULL,
 CONSTRAINT [LogSoldsKits$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogSoldsKitsDetails]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSoldsKitsDetails](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[NumberSoldKit] [int] NULL,
	[login] [nvarchar](12) NULL,
	[itemId] [nvarchar](10) NULL,
	[itemSerial] [nvarchar](8) NULL,
 CONSTRAINT [LogSoldsKitsDetails$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogsPayments]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsPayments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](255) NULL,
	[golds] [int] NULL,
	[banco] [nvarchar](255) NULL,
	[nterminal] [nvarchar](255) NULL,
	[ntransferencia] [nvarchar](255) NULL,
	[agencia_acolhedora] [nvarchar](255) NULL,
	[nsequencia] [nvarchar](255) NULL,
	[ctr] [nvarchar](255) NULL,
	[caixa_eletronico] [nvarchar](255) NULL,
	[nenvelope] [nvarchar](255) NULL,
	[ndocumento] [nvarchar](255) NULL,
	[ncontrole] [nvarchar](255) NULL,
	[noperador] [nvarchar](255) NULL,
	[data] [nvarchar](255) NULL,
	[hora] [nvarchar](255) NULL,
	[pago_em] [nvarchar](255) NULL,
	[anexo] [nvarchar](255) NULL,
	[comentario] [nvarchar](255) NULL,
	[comentario_adm] [nvarchar](255) NULL,
	[valor] [nvarchar](255) NULL,
	[status] [int] NULL,
 CONSTRAINT [LogsPayments$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogsReports]    Script Date: 28/02/2016 15:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsReports](
	[number] [int] NOT NULL,
	[login] [nvarchar](12) NULL,
	[price] [nvarchar](20) NULL,
	[dateInclude] [int] NULL,
 CONSTRAINT [LogsReports$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ItemsCategorias] ([Nombre]) VALUES (N'+ add OP')
INSERT [dbo].[ItemsCategorias] ([Nombre]) VALUES (N'Amulets')
INSERT [dbo].[ItemsCategorias] ([Nombre]) VALUES (N'Armors')
INSERT [dbo].[ItemsJewelOfHarmony] ([Number], [TP], [ID], [Tipo], [NM], [prefx0], [prefx1], [prefx2], [prefx3], [prefx4], [prefx5], [prefx6], [prefx7], [prefx8], [prefx9], [prefxA], [prefxB], [prefxC], [prefxD], [prefxE], [prefxF]) VALUES (1, N'0', N'1', N'NC/JH', N'NONE JoH 1 <>', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[ItemsJewelOfHarmony] ([Number], [TP], [ID], [Tipo], [NM], [prefx0], [prefx1], [prefx2], [prefx3], [prefx4], [prefx5], [prefx6], [prefx7], [prefx8], [prefx9], [prefxA], [prefxB], [prefxC], [prefxD], [prefxE], [prefxF]) VALUES (2, N'0', N'2', N'NC/JH', N'NONE JoH 2 <>', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[ItemsJewelOfHarmony] ([Number], [TP], [ID], [Tipo], [NM], [prefx0], [prefx1], [prefx2], [prefx3], [prefx4], [prefx5], [prefx6], [prefx7], [prefx8], [prefx9], [prefxA], [prefxB], [prefxC], [prefxD], [prefxE], [prefxF]) VALUES (3, N'0', N'3', N'NC/JH', N'NONE JoH 3 <>', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[ItemsRefinery] ([ID], [Tipo], [prefx1], [prefx2]) VALUES (0, N'NC/RF', N'No Refinery 1º Options', N'No Refinery 2º Options')
INSERT [dbo].[ItemsRefinery] ([ID], [Tipo], [prefx1], [prefx2]) VALUES (1, N'Helms', N'SD Recovery Rate +20', N'Defense Success Rate +10')
INSERT [dbo].[ItemsRefinery] ([ID], [Tipo], [prefx1], [prefx2]) VALUES (2, N'Armors', N'SD Auto Recovery', N'Def Success Rate +10')
INSERT [dbo].[ItemsSetItems] ([Nombre], [ID]) VALUES (N'Agnis', 33)
INSERT [dbo].[ItemsSetItems] ([Nombre], [ID]) VALUES (N'Anubis', 19)
INSERT [dbo].[ItemsSetItems] ([Nombre], [ID]) VALUES (N'Apolo', 13)
INSERT [dbo].[ItemsSocket] ([Number], [ID], [TP], [ST], [NM], [IT], [S1], [S2], [S3], [S4], [S5]) VALUES (1, 0, 1, N'Fire', N'Increase Damage/SkillPower (*lvl)', 3, 20, 400, 400, 400, 400)
INSERT [dbo].[ItemsSocket] ([Number], [ID], [TP], [ST], [NM], [IT], [S1], [S2], [S3], [S4], [S5]) VALUES (2, 1, 1, N'Fire', N'Increase Attack Speed', 1, 7, 1, 1, 1, 1)
INSERT [dbo].[ItemsSocket] ([Number], [ID], [TP], [ST], [NM], [IT], [S1], [S2], [S3], [S4], [S5]) VALUES (3, 2, 1, N'Fire', N'Increase Maximum Damage/Skill Power', 1, 30, 1, 1, 1, 1)
GO
ALTER TABLE [dbo].[CouponCodes] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [TP]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [X]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [Y]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [Z]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [DUR]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ('SN') FOR [LVL]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [OP]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [LK]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [SK]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [ANC]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [EXE]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [RF]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [JH]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [Socket]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [SET]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx0]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx1]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx2]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx3]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx4]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx5]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx6]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx7]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx8]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefx9]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxA]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxB]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxC]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxD]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxE]
GO
ALTER TABLE [dbo].[ItemsJewelOfHarmony] ADD  DEFAULT ((0)) FOR [prefxF]
GO
ALTER TABLE [dbo].[ItemsRefinery] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [dbo].[ItemsSetItems] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [TP]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [IT]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [S1]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [S2]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [S3]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [S4]
GO
ALTER TABLE [dbo].[ItemsSocket] ADD  DEFAULT ((0)) FOR [S5]
GO
ALTER TABLE [dbo].[Kits] ADD  DEFAULT ((0)) FOR [priceFix]
GO
ALTER TABLE [dbo].[Kits] ADD  DEFAULT ((0)) FOR [solds]
GO
ALTER TABLE [dbo].[Kits] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixLVL]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOP]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixLuck]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixSkill]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixANC]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx1]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx2]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx3]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx4]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx5]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixOpEx6]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixJH]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((0)) FOR [fixRefine]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((254)) FOR [fixSocket1]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((254)) FOR [fixSocket2]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((254)) FOR [fixSocket3]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((254)) FOR [fixSocket4]
GO
ALTER TABLE [dbo].[KitsItemsDetails] ADD  DEFAULT ((254)) FOR [fixSocket5]
GO
